@{
    ViewData["Title"] = "Resultado del Análisis";
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
</head>
<body>
    <div class="container">
        <h1>@ViewData["Title"]</h1>

        @if (ViewData["Resultado"] != null)
        {
            <div class="alert alert-success d-block">
                <h4>Resultado principal:</h4>
                <pre>@ViewData["Resultado"]</pre>

                <!-- Mostrar los otros resultados opcionales si existen -->
                @if (ViewData["OtrosResultados"] != null)
                {
                    <h5>Otros resultados:</h5>
                    <pre>@ViewData["OtrosResultados"]</pre>
                }
            </div>
        }

        @if (ViewData["Imagen"] != null)
        {
            <h3>Imagen cargada:</h3>
            <img src="~/images/@ViewData["Imagen"]" alt="Flor Imagen" class="img-fluid" style="height: 25vh" />
        }

        <br>
        <a href="@Url.Action("SubirImagen", "Home")" class="btn btn-primary mt-lg-3">Volver al inicio</a>
    </div>
</body>
</html>